/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+json+less+jsx&plugins=show-language+highlight-keywords */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"],
pre.highlight {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"],
pre.highlight {
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"],
pre.highlight {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.prism-show-language {
  position: relative;
}

div.prism-show-language > div.prism-show-language-label {
  color: black;
  background-color: #CFCFCF;
  display: inline-block;
  position: absolute;
  bottom: auto;
  left: auto;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  font-size: 0.9em;
  border-radius: 0 0 0 5px;
  padding: 0 0.5em;
  text-shadow: none;
  z-index: 1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/***************************************************/

.twitter-share-button[style] {
  vertical-align: bottom !important;
  margin-left: 5px;
}

.social {
  padding-bottom: 15px;
}

.jumbotron {
  background-color: #2d2d2d;
}

.jumbotron h1,
.jumbotron .h1 {
  color: #ffffff;
  text-shadow: 0 1px 10px rgba(100,150,255,0.5);
}

#content {
  padding-bottom: 20px;
}

#navigation {
  top: 15px;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

#navigation-toggle {
  border-color: #eeeeee;
  background: #ffffff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 15px;
}

.nav > li.active > a:not(:hover) {
  text-shadow: 0px 0px 2px rgba(33, 150, 243, 0.1);
  background-color: #fbfbfb;
}

.icon-bar {
  background-color: #666666;
}

footer.navbar {
  background-color: #2d2d2d;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

footer.navbar .nav>li>a:hover,
footer.navbar .nav>li>a:focus {
  background: #000000;
  color: #61DAFB;
}

@media (max-width: 768px) {
  #navigation-collapse {
    position: fixed;
    left: 0;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 30%;
    min-width: 150px;
    background: white;
    padding-top: 64px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

  #navigation {
    position: static !important;
    width: auto !important;
  }
}

@media (min-width: 768px) {
  #content {
    min-height: calc(100vh - 425px - 102px);
  }
}