.jumbotron {
  background-color: #2d2d2d;
}

.jumbotron h1,
.jumbotron .h1 {
  color: #ffffff;
  text-shadow: 0 1px 10px rgba(100,150,255,0.5);
}

#content {
  padding-bottom: 20px;
}

#navigation {
  top: 15px;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

#navigation-toggle {
  border-color: #eeeeee;
  background: #ffffff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 15px;
}

.icon-bar {
  background-color: #666666;
}

footer.navbar {
  background-color: #2d2d2d;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

footer.navbar .nav>li>a:hover,
footer.navbar .nav>li>a:focus {
  background: #000000;
  color: #61DAFB;
}

@media (max-width: 768px) {
  #navigation-collapse {
    position: fixed;
    left: 0;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 30%;
    min-width: 150px;
    background: white;
    padding-top: 64px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

  #navigation {
    position: static !important;
    width: auto !important;
  }
}

@media (min-width: 768px) {
  #content {
    min-height: calc(100vh - 425px - 64px);
  }
}