.jumbotron {
  background-color: #2d2d2d;
}

.jumbotron h1,
.jumbotron .h1 {
  color: #ffffff;
  text-shadow: 0 1px 10px rgba(100,150,255,0.5);
}

#navigation {
  top: 15px;
  z-index: 5;
}

footer.navbar {
  background-color: #2d2d2d;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
}

footer.navbar .nav>li>a:hover,
footer.navbar .nav>li>a:focus {
  background: #000000;
  color: #61DAFB;
}

@media (min-width: 768px) {
  #content {
    min-height: calc(100vh - 425px - 64px);
  }
}