@import "~bootstrap/less/bootstrap.less";

html {
  height: 100%;
}

body {
  min-height: 100%;
}

#app {
  min-height: 100vh;
}

#content {
  padding: 70px 0 0;
  min-height: ~"calc(100vh - 92px)";
}

footer {
  .navbar;
  .navbar-default;
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;

  .copyright {
    padding-top: @padding-small-horizontal / 2;
    padding-bottom: @padding-small-horizontal;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/****** Product ******/

.product {
  &-img-wrapper {
    margin: -15px -15px 0;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid @panel-default-border;
  }

  &-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-price {
    margin-bottom: 0;
  }
}

/****** Product Page ******/

.product-page {
  &-brand {
    margin-bottom: @form-group-margin-bottom * 2;
  }

  &-brand-logo {
    border: 1px solid @panel-default-border;
  }

  &-brand-name {
    margin: @form-group-margin-bottom 0;
  }
}

/****** Cart ******/

.cart {
  min-width: 300px;
  max-width: 90vw;
  max-height: 450px;
  overflow-y: auto;
}