<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta property="og:title" content="React Learning Module" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | prepend: site.github.url }}" />
  <meta property="og:image" content="{{ site.github.url }}/react_og_image.jpg" />
  <meta property="og:image:width" content="1300" />
  <meta property="og:image:height" content="630" />
  <meta property="og:description" content="A React learning module which walks you through the making of a small, simplified, yet non-trivial e-commerce application. Also covers Flux and Redux." />

  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-2mX2PSpkRSXLQzmNzH3gwK6srb06+OfbDlYjbog8LQuALYJjuQ3+Yzy2JIWNV9rW" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="jumbotron">
  <div class="container text-center">
    <img src="https://cdn.auth0.com/blog/react-js/react.png" alt="React JS" height="200">

    <div class="h1">React Learning Module</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <nav class="col-sm-3 clearfix">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-collapse" aria-expanded="false" id="navigation-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigation-collapse">
        <ul class="nav nav-stacked" id="navigation">
          <li><a href="{{ site.github.url }}/">Introduction</a></li>
          <li><a href="{{ site.github.url }}/step-01">Step 1 - Setting up</a></li>
        </ul>
      </div>
    </nav>

    <main class="col-sm-9" id="content">
      {{ content }}
    </main>
  </div>
</div><!-- /.container -->

<footer class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-3">
        <ul class="nav navbar-nav">
          <li><a href="https://facebook.github.io/react/">React Official Website</a></li>
          <li><a href="https://github.com/tszekely/react-learning-module">Project Repository</a></li>
          <li><a href="http://www.megiddoproductions.com">My (currently rudimentary) Website</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78927707-1', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/prism.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
</body>
</html>